<div class="titulo">
<h1>Ego Sum J.Edu</h1>
<h2>Currículo e Portfolio</h2>
</div>
<div class="descricao">
<p class="contato">
    João Eduardo Fernandes Dantas <br>
    Email - jedu.f.dantas@gmail.com <br>
    Tel - (85) 9 98155.3399 <br>
    LinkedIn - https://www.linkedin.com/in/jeduardodantas <br>
    GitHub - https://github.com/jedudantas <br>
    Site - jedudantas.github.io <br>
</p>

<p class="cl">
Desenvolvedor jr, entusiasta do aprendizado e criador sempre que possível. Possuo um background eclético, tendo passado por áreas como educação e atendimento ao cliente até controle de qualidade e gerenciamento de projetos. Estudo a algum tempo linguagens de programação e frameworks voltadas para desenvolvimento Web e Mobile, e já tenho alguma experiência com metodologias ágeis e ferramentas para aumentar produtividade e colaboração.
Sou fluente em Inglês e comecei a estudar Alemão e Espanhol para ampliar meus horizontes.
Se tiver interesse, pode tirar um tempo para conhecer melhor minha trajetória até aqui nos textos abaixo.
</p>
</div>

<mat-tab-group class="matElement" animationDuration="0">
    <mat-tab label="Como Desenvolvedor"> 
        <mat-tab-group animationDuration="0">
            <mat-tab label="Experiência">
                <p class="conteudo">
                    Ainda em desenvolvimento! Comecei a estudar alguma coisa de programação por volta de 2008, apenas o suficiente em HTML para deixar um blog mais organizado.
                    A partir daí nasceu a paixão pela área e em 2013 entrei no curso de Sistemas e Mídias Digitais da UFC. Apesar de todos os contratempos que apareceram na vida
                    eu sempre tentei voltar para a área, e agora finalmente tenho uma chance de dar um Start nessa carreira. Recentemente tenho estudado pela Codecademy e participo do programa Start da CapGemini.
                </p>
            </mat-tab>
            <mat-tab label="Linguagens">
                <ul class="conteudo">
                    <li>HTML 5</li>
                    <li>CSS (Estudando Less)</li>
                    <li>JavaScript/TypeScript</li>
                    <li>Java</li>
                    <li>SQL</li>
                </ul>
            </mat-tab>
            <mat-tab label="Caixa de Ferramentas">
                <div class="organizador">
                <ul class="conteudo">
                    <li>Angular</li>
                    <li>Angular Material</li>
                    <li>Git/GitHub</li>
                    <li>Bash</li>
                    <li>MySQL</li>
                </ul>
                <ul class="conteudo">
                    <li>Prototipação (Figma e Azure)</li>
                    <li>Metodologias Ágeis (Scrum e Kanban)</li>
                    <li>Gerenciamento de Projeto (PMBOK)</li>
                    <li>VSCode</li>
                    <li>Apache NetBeans</li>
                </ul>
            </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
    <mat-tab label="Fourth"> Content 3 </mat-tab>
</mat-tab-group>