<div class="titulo">
<h1>Ego Sum J.Edu</h1>
<h2>Currículo e Portfolio</h2>
</div>
<div class="descricao">
<p class="contato">
    João Eduardo Fernandes Dantas <br>
    Email - jedu.f.dantas@gmail.com <br>
    Tel - (85) 9 98155.3399 <br>
    LinkedIn - /in/jeduardodantas <br>
    GitHub - /jedudantas <br>
</p>

<p class="cl">
Desenvolvedor jr, entusiasta do aprendizado e criador sempre que possível. Possuo um background eclético, tendo passado por áreas como educação e atendimento ao cliente até controle de qualidade e gerenciamento de projetos. Estudo a algum tempo linguagens de programação e frameworks voltadas para desenvolvimento Web e Mobile, e já tenho alguma experiência com metodologias ágeis e ferramentas para aumentar produtividade e colaboração.
Sou fluente em Inglês e comecei a estudar Alemão e Espanhol para ampliar meus horizontes.
Se tiver interesse, pode tirar um tempo para conhecer melhor minha trajetória até aqui nos textos abaixo.
</p>
</div>

<mat-tab-group class="matElement" animationDuration="0">
    <mat-tab label="Como Desenvolvedor"> 
        <mat-tab-group animationDuration="0">
            <mat-tab label="Experiência">
                <p class="conteudo">
                    Comecei a estudar programação por volta de 2008, apenas o suficiente em HTML para deixar um blog mais organizado.
                    A partir daí nasceu a paixão pela área e em 2013 entrei no curso de Sistemas e Mídias Digitais da UFC. Apesar de todos os contratempos que apareceram na vida
                    eu sempre tentei voltar para a área, e agora finalmente tenho uma chance de dar um Start nessa carreira. Recentemente tenho estudado pela Codecademy e participo do programa Start da CapGemini.
                </p>
            </mat-tab>
            <mat-tab label="Linguagens">
                <ul class="conteudo">
                    <li>HTML 5</li>
                    <li>CSS (Estudando Less e SASS)</li>
                    <li>JavaScript/TypeScript</li>
                    <li>Java</li>
                    <li>SQL</li>
                </ul>
            </mat-tab>
            <mat-tab label="Caixa de Ferramentas">
                <div class="organizador">
                <ul class="conteudo">
                    <li>Angular</li>
                    <li>Angular Material</li>
                    <li>Git/GitHub</li>
                    <li>Bash</li>
                    <li>MySQL</li>
                </ul>
                <ul class="conteudo">
                    <li>Prototipação (Figma e Azure)</li>
                    <li>Metodologias Ágeis (Scrum e Kanban)</li>
                    <li>Gerenciamento de Projeto (PMBOK)</li>
                    <li>VSCode</li>
                    <li>Apache NetBeans</li>
                </ul>
            </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Como Analista de Qualidade"> 
        <mat-tab-group animationDuration="0">
            <mat-tab label="Experiência">
                <p class="conteudo">
                    Trabalhei como Analista de Qualidade de Processos na Concentrix, do final de 2020 até o início de 2022.
                    Lá eu analisava nossos processos de atendimento ao cliente, dando um foco maior no impacto
                    sobre o nosso CSat (Client Satisfaction). Nosso time era responsável, essencialmente, por 
                    auditar e redesenhar os processos e roteiros que causavam um impacto negativo nas nossas métricas.
                    Além disso, fiz parte também do nosso time de MIS (Management Information Systems) onde eu ajudava
                    a modelar, gerenciar e tratar os bancos de dados que eram usados pela liderança da Qualidade & Treinamento.

                </p>
            </mat-tab>
            <mat-tab label="Funções">
                <ul class="conteudo">
                    <li>Auditar equipe responsável pelo atendimento ao cliente</li>
                    <li>Analisar processos de atendimento ao cliente, com foco em Satisfação do Cliente (CSat)</li>
                    <li>Avaliar impacto de métricas dentro da operação</li>
                    <li>Reformular processos de atendimento</li>
                    <li>Modelar, tratar, e gerenciar bancos de dados com a equipe de Q&T</li>
                    <li>Desenhar e criar formulários de acompanhamento com a equipe de Qualidade (MIS)</li>
                    <li>Desenvolver e aplicar projetos para aumento de produtividade e melhora de qualidade de vida da equipe</li>
                </ul>
            </mat-tab>
            <mat-tab label="Caixa de Ferramentas">
                <div class="organizador">
                <ul class="conteudo">
                    <li>Excel/Sheets</li>
                    <li>PowerBI</li>
                    <li>GSuite</li>
                    <li>JIRA/C360</li>
                    <li>Salesforce (CRM)</li>
                 </ul>

                <ul class="conteudo"> 
                    <li>PDCA</li>
                    <li>Lean Six Sigma (Yellow Belt)</li>
                    <li>Prevenção de Fraude: Física e Digital</li>
                </ul>
            </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Como Professor">
        <mat-tab-group animationDuration="0">
            <mat-tab label="Experiência">
                <p class="conteudo">
                    Minha primeira carreira. Dei aula como professor polivalente dos 16 aos 23 e como professor de inglês dos 24 aos 26.
                    Minhas responsabilidades foram desde preparar e dar aula até o atendimento dos responsáveis e produção dos projetos extracurriculares.
                </p>
            </mat-tab>
            <mat-tab label="Linguagens">
                <ul class="conteudo">
                    <li>HTML 5</li>
                    <li>CSS (Estudando Less e SASS)</li>
                    <li>JavaScript/TypeScript</li>
                    <li>Java</li>
                    <li>SQL</li>
                </ul>
            </mat-tab>
            <mat-tab label="Caixa de Ferramentas">
                <div class="organizador">
                <ul class="conteudo">
                    <li>Angular</li>
                    <li>Angular Material</li>
                    <li>Git/GitHub</li>
                    <li>Bash</li>
                    <li>MySQL</li>
                </ul>
                <ul class="conteudo">
                    <li>Prototipação (Figma e Azure)</li>
                    <li>Metodologias Ágeis (Scrum e Kanban)</li>
                    <li>Gerenciamento de Projeto (PMBOK)</li>
                    <li>VSCode</li>
                    <li>Apache NetBeans</li>
                </ul>
            </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Outras Experiências">
        <mat-tab-group animationDuration="0">
            <mat-tab label="Experiência">
                <p class="conteudo">
                    Ainda em desenvolvimento! Comecei a estudar programação por volta de 2008, apenas o suficiente em HTML para deixar um blog mais organizado.
                    A partir daí nasceu a paixão pela área e em 2013 entrei no curso de Sistemas e Mídias Digitais da UFC. Apesar de todos os contratempos que apareceram na vida
                    eu sempre tentei voltar para a área, e agora finalmente tenho uma chance de dar um Start nessa carreira. Recentemente tenho estudado pela Codecademy e participo do programa Start da CapGemini.
                </p>
            </mat-tab>
            <mat-tab label="Linguagens">
                <ul class="conteudo">
                    <li>HTML 5</li>
                    <li>CSS (Estudando Less e SASS)</li>
                    <li>JavaScript/TypeScript</li>
                    <li>Java</li>
                    <li>SQL</li>
                </ul>
            </mat-tab>
            <mat-tab label="Caixa de Ferramentas">
                <div class="organizador">
                <ul class="conteudo">
                    <li>Angular</li>
                    <li>Angular Material</li>
                    <li>Git/GitHub</li>
                    <li>Bash</li>
                    <li>MySQL</li>
                </ul>
                <ul class="conteudo">
                    <li>Prototipação (Figma e Azure)</li>
                    <li>Metodologias Ágeis (Scrum e Kanban)</li>
                    <li>Gerenciamento de Projeto (PMBOK)</li>
                    <li>VSCode</li>
                    <li>Apache NetBeans</li>
                </ul>
            </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>